# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

list_last_three = a[-3:]

In [4]:
# create a list of numbers from 1 to 20

list_1_to_20 = list(range(1, 21))

In [5]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

list_even = [num for num in range(1, 101) if num % 2 == 0]

In [6]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

def divide(num1, num2):
    if num2 == 0:
        return None
    return num1 / num2

In [7]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for num in range(1, 31):
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [8]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu_from_Ahmo = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}
menu_from_Ahmo

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [9]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd
df = pd.read_csv("/Users/andrewle/Documents/GitHub/MDST-Onboarding/data/starbucks.csv")

In [10]:
# select all rows with more than and including 400 calories

df_400 = df[df['calories'] >= 400]

In [11]:
# select all rows whose vitamin c content is higher than the iron content

df_vitamin_c = df[df['vitamin c'] > df['iron']]

In [12]:
# create a new column containing the caffeine per calories of each drink

df['caffeine per calories'] = df['caffeine'] / df['calories']

In [13]:
# what is the average calorie across all items?

average_calories = df['calories'].mean()

In [14]:
# how many different categories of beverages are there?

num_categories = df['beverage_category'].nunique()

In [15]:
# what is the average # calories for each beverage category?

average_calories_categories = df.groupby('beverage_category')['calories'].mean()